/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // index.html.erb
 @import "bootstrap/scss/bootstrap";
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
 .banner {
  padding: 0;
  background-color: #52575c;
  color: white;
  margin-bottom: 20px;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}

.card.demo-card {
  margin-bottom: 15px;
  flex: 0 0 300px;
}

.demo-card-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.card-text {
  margin-bottom: 50px;
}
.after-logined{
  display: none;
}
.new-mtg-view{
  display: none;

}
.login-form{
  display: none;
}
.showUserList{
  display: none;
}
.logout_btn{
  display: none;
}
.stopScreensharing{
  display: none;
}
.showHome{
  display: none;
}
// .agora_local{
//   width: 25%;
//   height:25%;
// }



// basicVideoCall
#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}



.player-name {
  margin: 8px 0;
}

#success-alert, #success-alert-with-token {
  display: none;
}

// ビデオ画面表示
.arrange {
  margin: 10px;
  width: 200px !important;
  height: 200px !important;
  position: relative;
}

#local-player {
  display: flex;
  flex-wrap: wrap;
}
.player {
  width: 200px;
  height: 200px;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
}
.screenSizeBtn {
  position: absolute;
  top: 0;
  right: 0;
}
// 画面サイズ拡大
.makeScreenLarge {
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80% !important;
  min-height: 700px !important;
  position: relative;
  flex-wrap: nowrap;
}

@media (max-width: 640px) {
  .player {
    width: 320px;
    height: 240px;
  }
}

