<div class="container" id="after-logined">
  <div class="card-deck">
    <div class="card demo-card">
      <div class="card-body">
        <h5 class="card-title">ビデオ通話に参加する</h5>
        <p class="card-text"></p>
        <%= link_to "Go Now", "/BasicVieoCall" ,class:"btn btn-primary demo-card-btn"%>
      </div>
    </div>
    <div class="card demo-card">
      <div class="card-body">
        <h5 class="card-title">MYミーティングを作成</h5>
        <p class="card-text"></p>
        <a class="btn btn-primary demo-card-btn" id="showVideo" style="color: white;">Go Now</a>
      </div>
    </div>
  </div>
  <!-- 新規チャンネル作る -->
  <div class="card demo-card">
    <h5>新規チャンネルを作ろう！！</h5>
    <div id="output"></div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control " id="text_name" placeholder="チャンネル名を入力">
      </div>
      <button type="button" class="btn btn-primary" id="addName">新規作成</button>
    </form>
  </div>
</div>
<%# ビデオ表示画面 %>
<div class="new-mtg-view" id="new-mtg-view">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:pink;">
    <p class="navbar-brand my-auto">チャンネル参加者一覧</p>
    <ul class="navbar-nav member-list my-auto">
      <li class="nav-item my-auto">
        <p class="navbar-text mx-2 my-auto"><%= current_user.uid%>(あなた)</p>
      </li>
    </ul>
  </nav>
  <div class="flash"></div>
  <h3 id="channelName" class="mt-5"></h3>

  <button id="leave" type="button" class="btn btn-danger" id="leave">退出する</button>
  <button id="showUserList" type="button" class="btn btn-success">招待する</button>
  <button id="screensharing" type="button" class="btn btn-warning" style="color: white;">画面共有する</button>
  <button id="Rescreensharing" type="button" class="btn btn-warning stopScreensharing"
    style="color: white;">画面共有する</button>
  <button id="stopScreensharing" type="button" class="btn btn-warning stopScreensharing"
    style="color: white;">画面共有を停止する</button>
  <button id="muteON" type="button" class="btn btn-info" style="color: white;">ミュートをONにする</button>
  <button id="muteOFF" type="button" class="btn btn-info stopScreensharing" style="color: white;">ミュートをOFFにする</button>
  <button id="videoOFF" type="button" class="btn btn-secondary" style="color: white;">ビデオをOFFにする</button>
  <button id="videoON" type="button" class="btn btn-secondary stopScreensharing"
    style="color: white;">ビデオをONにする</button>
  <button id="gallery" type="button" class="btn btn-dark" style="color: white;">ギャラリー表示</button>
  <button type="button" class="btn btn-primary" id="reactionCreate">リアクションする</button>
  <div class="reaction_btn" id="reactionsList">
    <h1 id="good" class="reactions">👍</h1>
    <h1 id="pien" class="reactions">🥺</h1>
  </div>

  <table class="table my-5 showUserList" id="user-list">
    <thead>
      <tr>
        <th scope="row">ログインしているユーザー一覧
          <button type="button" class="btn  mx-3" id="removeUserList">閉じる</button>
        </th>
      </tr>
    </thead>
    <tbody id="useradd">
    </tbody>
  </table>
  <div>
  </div>
  <div id="local-player">
  </div>


</div>
<%= javascript_pack_tag 'agora' %>