<div class="container" id="after-logined">
  <div class="card-deck">
    <div class="card demo-card">
      <div class="card-body">
        <h5 class="card-title">ビデオ通話に参加する</h5>
        <p class="card-text"></p>
        <%= link_to "Go Now", "/BasicVieoCall" ,class:"btn btn-primary demo-card-btn"%>
      </div>
    </div>
    <div class="card demo-card">
      <div class="card-body">
        <h5 class="card-title">MYミーティングを作成</h5>
        <p class="card-text"></p>
        <!-- <button class="ui-btn ui-btn-b" onclick="showVideo()">Go Now</button> -->
        <a class="btn btn-primary demo-card-btn" id="showVideo" style="color: white;">Go Now</a>
      </div>
    </div>
  </div>
  <!-- 新規チャンネル作る -->
  <div class="card demo-card">
    <h5>新規チャンネルを作ろう！！</h5>
    <!-- <div id="channels"></div> -->
    <div id="output"></div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control " id="text_name" placeholder="チャンネル名を入力">
      </div>
      <button type="button" class="btn btn-primary" id="addName">新規作成</button>
    </form>
  </div>
</div>
<div class="new-mtg-view" id="new-mtg-view">
  <!-- <div class="agora_local">
      <div id="video" style="margin:0 auto;"></div>
    </div> -->
  <div class="flash"></div>
  <h3 id="channelName"></h3>
  <button id="leave" type="button" class="btn btn-danger" id="leave">退出する</button>
  <button id="showUserList" type="button" class="btn btn-success">招待する</button>
  <button id="screensharing" type="button" class="btn btn-warning" style="color: white;">画面共有する</button>
  <button id="Rescreensharing" type="button" class="btn btn-warning stopScreensharing"
    style="color: white;">画面共有するわ</button>
  <button id="stopScreensharing" type="button" class="btn btn-warning stopScreensharing"
    style="color: white;">画面共有を停止する</button>
  <button id="muteON" type="button" class="btn btn-info" style="color: white;">ミュートをONにする</button>
  <button id="muteOFF" type="button" class="btn btn-info stopScreensharing" style="color: white;">ミュートをOFFにする</button>
  <button id="videoOFF" type="button" class="btn btn-secondary" style="color: white;">ビデオをOFFにする</button>
  <button id="videoON" type="button" class="btn btn-secondary stopScreensharing"
    style="color: white;">ビデオをONにする</button>
  <table class="table my-5 showUserList" id="user-list">
    <thead>
      <tr>
        <th scope="row">ログインしているユーザー一覧
          <button type="button" class="btn  mx-3" id="removeUserList">閉じる</button>
        </th>
      </tr>
    </thead>
    <tbody id="useradd">
    </tbody>
  </table>
  <!-- <p id="local-player-name" class="player-name"></p> -->
  <div id="local-player" class="player ">
  </div>
</div>
<%= javascript_pack_tag 'agora' %>